# Example only. ./start.sh --scenario public-domain overwrites this file for your DOMAIN.

{
	servers {
		protocols h1 h2
	}
}

example.com {
	encode gzip
	reverse_proxy agentpost:8080
}

www.example.com {
	redir https://example.com{uri} permanent
}
